kivy==1.0.2 # For now due to using DataTables in Show Tracks Window - later will refactor and use newer version
# https://github.com/kivymd/KivyMD/archive/master.zip
spotipy
pandas
openpyxl
requests
pillow
